<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default " profile image" }}"
            height="{{ .imageHeight | default 350 }}" width="{{ .imageWidth | default 800}}" />
        {{- end }}
    </div>
<div class="profile-description">
    <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
    <header class="header"  >
        <nav class="nav">
            {{- $currentPage := . }}
            <ul id="menu" >
                <li>
                    <a href="/" title="Home"><span>Home</span></a>
                </li>
                {{- range .Site.Menus.main }}
                {{- $menu_item_url := (cond (strings.HasSuffix .URL "/") .URL (printf "%s/" .URL) ) | absLangURL }}
                {{- $page_url:= $currentPage.Permalink | absLangURL }}
                {{- $is_search := eq ($.Site.GetPage .KeyName).Layout `search` }}
                <li>
                    <a href="{{ .URL | absLangURL }}" title="{{ .Title | default .Name }} {{- cond $is_search (" (Alt + /)" | safeHTMLAttr) ("" | safeHTMLAttr ) }}"
                    {{- cond $is_search (" accesskey=/" | safeHTMLAttr) ("" | safeHTMLAttr ) }}>
                        <span {{- if eq $menu_item_url $page_url }} class="active" {{- end }}>
                            {{- .Pre }}
                            {{- .Name -}}
                            {{ .Post -}}
                        </span>
                    </a>
                </li>
                {{- end }}
            </ul>
        </nav>
    </header>
    
    {{ .description | markdownify }}  
    {{- partial "social_icons.html" $.Site.Params.socialIcons -}}
    {{- with .buttons }}
</div>

{{- end }}
{{- end}}

